<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:tito="">

<head>
	<title>Orçamento</title>
</head>	
<body>
<section layout:fragment="conteudo">
<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<h1>Cadastro de Documento</h1>
			</div>
			
			<div class="col-sm-2">
				<div class="aw-page-header-controls">
					<a class="btn btn-default" th:href="@{/documentos}">
						<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar Documento</span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="container-fluid">
	
	<th:block th:include="fragments/SucessoValidacao"></th:block>
	
	<form method="post" th:object="${documento}" class="form-vertical  js-form-loading">
		
		<th:block th:include="fragments/ErroValidacao"></th:block>
		
		<div class="row">
			<div class="col-sm-12 form-group orc-required" tito:msgerror="nome">
				<label for="nomeDocumento" class="control-label">Nome</label>
				<input id="nomeDocumento" type="text" class="form-control" th:field=*{nome}/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
   				<label for="obsDocumento">Observação</label>
  				<textarea class="form-control" id="obsDocumento" rows="3" th:field="*{obs}"></textarea>
				
			</div>
		</div>
		
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Salvar</button>
			<a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a>
		</div>

	</form>
</div>

</section>
</body>
</html>
