<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

		<nav class="aw-menu  js-menu">
			<ul class="aw-menu__list">

				<li class="aw-menu__item"><a th:href="@{/}"><i
						class="fa  fa-fw  fa-home"></i><span>Home</span></a>
				</li>

				<li class="aw-menu__item  is-active">
					<a href="#"> <i class="fa fa-fw fa-user-plus"></i><span>Cadastros</span> <i
						class="aw-menu__navigation-icon  fa"></i>
					</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link">
							<a th:href="@{/documentos/novo}">Documento</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link">
							<a th:href="@{/pedidos/novo}">Pedido</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link  is-active">
							<a th:href="@{/servicos/novo}">Serviço</a>
						</li>
					</ul>
				</li>
				
				<li class="aw-menu__item  is-active">
					<a href="#"> <i class="fa fa-fw fa-search"></i><span>Buscar</span> <i
						class="aw-menu__navigation-icon  fa"></i>
					</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link">
							<a th:href="@{/documentos}">Documentos</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link  is-active">
							<a th:href="@{/servicos}">Serviços</a>
						</li>
					</ul>
				</li>

				<li class="aw-menu__item  is-expanded"><a href="#"> <i
						class="fa  fa-fw  fa-file-text"></i><span>Páginas comuns</span> <i
						class="aw-menu__navigation-icon  fa"></i>
				</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="pagina-vazia.html">Página vazia</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="login.html">Login</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="esqueceu-a-senha.html">Esqueceu a senha</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="403.html">403</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="404.html">404</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="500.html">500</a></li>
					</ul></li>
			</ul>
		</nav>
	</div>
</aside>
</body>
</html>	